@inherits TimedOnlyComponent

@if (_selectedOption is null)
{
    return;
}
<PopupCustomPositions
    Visible="_showOptions"
    CloseButtonClick="ClosePopup"
    DisableBackgroundClick=false
    Width="500px"
    Top="200px"
    Left="600px"
                      
>
    <AnimalChoiceModal Animal="Animal" OnOptionChosen="SelectOptionAndStart" />
</PopupCustomPositions>

<PopupViewport
   @bind-Visible="_showUpgrades"
   TapToClose="true"
   ShowHeaders="false"
>
    <UpgradeAnimalModal 
        Animal="Animal"
        OnUpgraded="Upgraded"
        />
</PopupViewport>


<BasicProgressModal @bind-Visible="_showProgress">
    <AnimalProgressModal Animal="Animal"
                         Option="_selectedOption" />
</BasicProgressModal>

@{
    EnumAnimalState state = AnimalManager.GetState(Animal);
    string animalName = AnimalManager.GetName(Animal);

    string producedItem = _selectedOption.Output.Item;
    int leftToCollect = AnimalManager.Left(Animal);

    bool isCollecting = state == EnumAnimalState.Collecting;

    // What image should the card show?
    string cardImage = isCollecting
        ? GetItemImage(producedItem)
        : GetAnimalImage(animalName);
}

<div class="card p-2"
    
     style="width: 55px; height: 80px; background-color:@GetBackGround;"
     @onclick="CardClicked">


   

    <div class="d-flex justify-content-center">
        <img src="@cardImage"
             alt="@animalName"
             style="width: 50px; height: 50px; object-fit: contain;" />
    </div>

    <div class="text-center">
        @if (isCollecting)
        {
            
            <div class="text-success">@leftToCollect</div>
            
        }
        
    </div>
</div>