@inherits FarmComponentBase

@if (_unlimitedSpeedSeedTime is not null)
{
    <UnlimitedSpeedSeedsGrantComponent Category="EnumItemCategory.Animal"
                                       TimeRemaining="_unlimitedSpeedSeedTime.Value" />
    return;
}
<div class="full-scrollable">
    <WrapLayout RenderList="_animals" ColumnWidth="60px" Context="animal">
        <AnimalComponent @key="animal.Id" Animal="animal" />
    </WrapLayout>
</div>

