@inherits TimedOnlyComponent

<BasicProgressModal @bind-Visible="_showpopup">
    <TreeProgressModal Tree="Tree" />
</BasicProgressModal>


<div style="position: relative; width: 200px;"
    @onclick="Process"
>
    <!-- Base tree -->
    <img src="/Tree.png" width="200" />
    @if (!string.IsNullOrWhiteSpace(_rentalTimeLeft))
    {
        <div class="tree-positioning rental-timer">
            @_rentalTimeLeft
        </div>
    }
    @if (_ready > 0)
    {
        <img src="@GetFruitImage"
             style="
                position: absolute;
                top: 60px;
                left: 20px;
                width: 30px;
                height: 30px;
             " />
        @if (_ready > 1)
        {
            <img src="@GetFruitImage"
                 style="
                    position: absolute;
                    top: 60px;
                    left: 60px;
                    width: 30px;
                    height: 30px;
                 " />
        }
        @if (_ready > 2)
        {
            <img src="@GetFruitImage"
                 style="
                    position: absolute;
                    top: 60px;
                    left: 100px;
                    width: 30px;
                    height: 30px;
                 " />
        }
        @if (_ready > 3)
        {
            <img src="@GetFruitImage"
                 style="
                    position: absolute;
                    top: 60px;
                    left: 140px;
                    width: 30px;
                    height: 30px;
                 " />
        }
    }
</div>