@inherits TimedOnlyComponent



<div class="text-primary">@ProduceText</div>
<div>@ReadyText</div>
@if (_advancedUpgrades)
{
    <div>
        Level @_currentLevel
    </div>
    <SuccessButton OnClick="OnOpenUpgrades">
        Get Upgrades
    </SuccessButton>
}