@inherits TimedOnlyComponent


<PopupViewport ShowHeaders="false"
               @bind-Visible="_showUpgrades"
               TapToClose="true">
    <UpgradeTreeModal 
        Tree="Tree"
        OnUpgraded="Upgraded"
        />
</PopupViewport>
<div class="text-primary">@ProduceText</div>
<div>@ReadyText</div>
@if (_advancedUpgrades)
{
    <div>
        Level @_currentLevel
    </div>
    <SuccessButton OnClick="OpenUpgrades">
        Get Upgrades
    </SuccessButton>
}