.main-root {
    padding: 12px;
    height: 50vh;
    overflow-y: auto;
}

.uss-timer {
    text-align: center;
    margin-bottom: 12px;
}

.uss-label {
    font-size: 1rem;
    opacity: 0.85;
}

.uss-value {
    font-size: 1.6rem;
    font-weight: 600;
}
