<StopClickPropagation Style="height: 100vh; width: 100vw;">
    <div style="font-size: 3rem;">
        @StoreItem.TargetName.GetWords
    </div>
    @if (StoreItem.Quantity > 0)
    {
        <div style="font-size: 2rem;">
            Quantity:  @StoreItem.Quantity
        </div>
    }
    <div>
        <StackLayout>
            <StackItem>
                <ImageButtonComponent Height="300"
                                      Style="background-color: red;"
                                      Name="@ImageUrl"
                                      OnClick="OnAcquire" />
            </StackItem>
            <StackItem>
                <PrimaryButton FontSize="10rem;" OnClick="OnClose">
                    Close
                </PrimaryButton>
            </StackItem>
        </StackLayout>
    </div>
</StopClickPropagation>