.iu-icon {
    position: relative;
    display: inline-block;
    line-height: 0;
}

.iu-badge {
    position: absolute;
    right: 2px;
    bottom: 2px;
    width: 34px;
    height: 34px;
    pointer-events: none;
    filter: drop-shadow(0 1px 1px rgba(0,0,0,0.5));
}
