@inherits TimedOnlyComponent
<WrapLayout RenderList="_worksites" ColumnWidth="110px" Context="worksite">
    @{
        EnumWorksiteState state = WorksiteManager.GetStatus(worksite);
        var isCollecting = state == EnumWorksiteState.Collecting;
    }

    <div class="worksite-tile @(isCollecting ? "ready" : "")"
         @onclick="() => SelectWorksiteAsync(worksite)">

        <img class="worksite-img"
             src="@Image(worksite)"
             draggable="false" />

        @if (isCollecting)
        {
            <div class="worksite-ready-overlay" aria-hidden="true">
                <div class="worksite-ready-qm">?</div>
            </div>
        }
    </div>
</WrapLayout>