<TabButtonContainer>
    <TabPage Text="Current">
        <div class="full-scrollable">
            Needs to figure out current achievements
        </div>
    </TabPage>
    <TabPage Text="Completed">
        <div class="full-scrollable">
            Needs to figure out completed achievements
        </div>
    </TabPage>
</TabButtonContainer>